# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env
*.env

# Data
data/raw/*
data/processed/*

# Сохраняю структуру директорий data
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# MLflow
mlruns/
mlartifacts/

# Logs and temporary files
*.log
*.tmp
*.temp

# Windows
Thumbs.db